@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local("Raleway"),
    url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Rubik"),
    url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Rubik"),
    url("../fonts/rubik/rubik-700.woff2") format("woff2");
}


*, *::before, ::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
}

.page-html {
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.main {
  flex-grow: 1;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, #ffffff 15%, #ffe17f 15% 100%);
}

.page-header__inner {
  display: flex;
  flex-wrap: wrap;
}

.main-logo {
  width: 100%;
}

.search-form {
  width: 517px;
}

.top-menu {
  display: flex;
  flex-wrap: wrap;
  width: 497px;
  margin: 0;
  padding: 0;
}

.main-nav {
  width: 1160px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.search-form__input {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.search-form__button {
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid #000000;
}

.top-menu {
  width: 241px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-menu__link {
  color: #000000;
  text-decoration: none;
}

.main__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.main__title--catalog {
  margin: 0 0 16px 0;
}

.main__text {
  margin: 0;
  color: #444444;
}

.main__interactive-elem {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
}

.slider__container {
  background-image: linear-gradient(to bottom, #ffe17f 15%, #ffffff 15% 100%);
}

.slider__item {
  display: flex;
  flex-wrap: wrap;
}

.slider__main-text {
  margin: 0;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.slider__link {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.slider__checkbox-list {
  list-style: none;
}

.spec-list__term {
  font-size: 36px;
}

.spec-list__def {
  font-size: 16px;
  color: #444444;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 44px 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__link {
  color: #000000;
  text-decoration: none;
}

.catalog__title {
  font-family: 'Raleway', 'Arial', sans-serif;
  font-weight: 800;
  line-height: 24px;
}

.delivery__main {
  display: flex;
  flex-wrap: wrap;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs__button {
  background-color: transparent;
  border: 0;
}

.info-block__inner--delivery {
  background-image: url('../img/index-tab-1.svg');
  background-size: 136px 165px;
  background-repeat: no-repeat;
}

.info-block__inner--warranty {
  background-image: url('../img/index-tab-2.svg');
  background-size: 171px 195px;
  background-repeat: no-repeat;
}

.info-block__inner--credit {
  background-image: url('../img/index-tab-3.svg');
  background-size: 156px 189px;
  background-repeat: no-repeat;
}

.delivery-link {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.delivery-link__title {
  font-size: 20px;
  line-height: 23px;
}

.information__container {
  display: flex;
  flex-wrap: wrap;
}

.information__text {
  color: #444444;
}

.delivery__item {
  font-weight: 700;
  line-height: 20px;
}

.information__link {
  color: #000000;
  text-decoration: none;
}

.mailing__container {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #444444;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.address__text {
  font-size: 16px;
  font-style: normal;
  color: #ffffff;
}

.footer-menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu__link {
  color: #ffffff;
  text-decoration: none;
}

.address__phone-link {
  font-size: 16px;
  font-style: normal;
  color: #ffffff;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-menu__link {
  font-size: 18px;
  line-height: 30px;
  background-color: transparent;
  opacity: 30%;
  border: 0;
}

.breadcrumbs__link {
  font-size: 16px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  width: 432px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog__inner {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  padding: 70px 40px 78px 40px;
  background-color: #ffffff;
}

.catalog__title {
  margin: 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog__subtitle {
  font-weight: 700;
  line-height: 20px;
}

.range-slider___price {
  font-size: 15px;
  line-height: 18px;
  opacity: 30%;
}

.form-filters {
  width: 320px;
  background-color: #f0f0f0;
}

.form-filters__button {
  background-color: transparent;
  border: 0;
}

.form-filters__label {
  font-size: 16px;
  line-height: 19px;
}

.sorting {
  width: 840px;
  background-color: #f0f0f0;
}

.sorting__header {
  display: flex;
  flex-wrap: wrap;
  padding: 0 40px;
}

.sorting__select {
  font-size: 18px;
  line-height: 30px;
  border: 0;
  background-color: transparent;
}

.sorting-up-down {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.card__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__title {
  width: 133px;
  margin: 0;
}

.card__price {
  line-height: 21px;
}

.catalog__button-more {
  width: 100%;
  padding: 18px 0;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
  background-color: transparent;
  text-transform: uppercase;
  border: 3px solid #e5e5e5;
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ebebeb;
}

.pagination__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__link {
  align-self: center;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
  opacity: 30%;
}

.pagination__button {
  padding: 25px;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  background-color: transparent;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
}